<%-include("header")-%>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>ERROR</h1>
      <h2 style="color:red;"><%=error%></h2>
      <p class="lead">pRoblem? pleaSe__tRy__aGain!</p>
      <form action="/" method="get">
        <button class="btn btn-secondary btn-lg" type="submit">Try Again</button>
      </form>
    </div>

  </div>
<%-include("footer")-%>
