<!-- ///////////////////////////////////////// -->

  <p class="Copyright">Created by Pradeep Panchal
  <a href="  https://github.com/pradeep0322/todolist">https://github.com/pradeep0322/todolist</a></p>




<!-- ////////////////////////////////// -->
   <script>
   var city = document.querySelector(".cityName");
   var btn1 = document.querySelector(".location-btn");
   btn1.onclick = function() {
     city.style.display = "block";
   }
   window.onclick = function(event) {
  if(event.target == city) {
    city.style.display = "none";
  }
}
   </script>

   </body>
   </html>
