<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDoList</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/style.css">

</head>

<body>
  <div class="top">
    <h3 class="heading"><i class="material-icons">account_circle</i> <%=usr.username%>!
      <a class="logout" href="/"> log out</a>
    </h3>
    <p class="weather"><b class="title"><%=weather%></b>
      <button class="location location-btn"><%=usr.cityName%><i class="material-icons">add_location</i></button>
    </p>
  </div>
  <!-- ///////////////////////////// -->
  <div class="cityName">
    <form action="/<%=usr.username%>/today" method="post">
      <input class="input1 city" type="text" name="cityName" placeholder="Enter valid cityname" required>
      <button class="location" type="submit"><i class="material-icons" style="font-size:48px;">autorenew</i></button>
    </form>
  </div>
