<div class="sidebar">
  <p class="t1">It's <%=day%></p>

 <form action="/<%=usr.username%>/today" method="post">
<input type="hidden">
<button class="btn" type="submit">Today's tasks<i class="a material-icons">assignment</i></button>
 </form>
 <form action="/<%=usr.username%>/upcoming" method="post">
<input type="hidden">
<button class="btn" type="submit">Upcoming events<i class="a material-icons">dashboard</i></button>
 </form>
 <form action="/<%=usr.username%>/notes" method="post">
<input type="hidden">
<button class="btn" type="submit">Your notes<i class="a material-icons">note_add</i></button>
 </form>
</div>
