html,body{
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
  font-family:sans-serif;
}

*:focus {
  outline: none;
}

body {
  background-color: #e23e57;
  margin: 0;
}
.top {
  background-color: #e23e57;
  width:100%;
  height: 10%;
}
.sidebar{
  width:20%;
  height: 85%;
  float: left;
  background-color: #cfd3ce;
}

.Copyright {
  display: block;
  text-align: center;
  font-size: 80%;
  padding: 5px;
}

.today,.upcoming,.notes  {
  height: 85%;
  width: 80%;
  float: left;
  overflow: auto;
  background-color: #eeeded;
}

.heading {
  display: inline-block;
  color: #f9f7f7;
  padding: 7px;
  text-align: center;
  font-weight: 700;
  margin: 0;
  letter-spacing: 2px;
}
.logout {
  position: absolute;
  font-size: 80%;
  font-weight: 600;
  color: #f9f7f7;
  text-align: center;
  text-decoration: none;
  background-color: transparent;

}

.logout:hover {
  color: #fff;
  text-decoration: none;
  background-color: #f9f7f7;
  text-shadow: 1px 1px 6px black;
}
.weather {
  display: inline-block;
  float: right;
  color: white;
  padding: 0 10px;
  font-size: 80%;
  font-weight: 500;
  margin: 0;
}
.location {
  border: none;
  font-weight: bold;
  background-color: transparent;
  letter-spacing: 2px;
}

.location:hover {
  color: white;
}
.t1 {
  display: block;
  color: #e23e57;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 5px;
  margin: 0;
}

.btn {
  display: inline-block;
  color: #fff;
  width: 100%;
  text-align: left;
  background-color: #e84a5f;
  font-size: 80%;
  font-weight: 700;
  border: none;
  padding: 5px;
  margin: 5px 0;
  box-shadow: 1px 1px 3px black;
}
.btn:hover{
  background-color: #fa7f72;
  text-shadow: 1px 1px 3px black;
}

.H1{

  color: #393e46;
  display: block;
  font-size: 80%;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 5px;
  margin: 0;
}
.input1,.input2,.input3,.input4,.input5 {
  display: inline-block;
  height: 25px;
  margin: 3px;
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  border-radius: 5px;
}
.input1:hover,.input2:hover,.input3:hover,.input4:hover,.input5:hover {
  box-shadow: 2px 0px 4px #1d2124;
}
.input1{
  width: 60%;
}
.input2{
width:60%;
}
.input3{
  width:15%;
  height: 20px;
font-size: 13px;
}
.input4{
  width: 15;
}
.input5{
  width: 60%;
}
.button1 {
  border: 1px solid #e84a5f;
  border-radius: 5px;
  font-size: 80%;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  margin: 2px 4px;
  color: #fff;
  background-color: #e84a5f;
  box-shadow: 1px 1px 3px  #393e46;
}
.button1:hover {
  box-shadow: none;
    color: #e84a5f;
    background-color: transparent;
}

.items {
  display: block;
  margin: 0px ;
  padding: 10px ;
}
.items:hover{
  box-shadow: 2px 0px 4px #1d2124;
}
.material-icons{
font-size: 20px;
}
.a{
  float: right;
}
.x1 {
  display: inline;
  float: left;
  color: #aaaaaa;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.x1:hover {
  color: black;
}
.title{
  letter-spacing: 1px;
  box-shadow: 1px 1px 3px black;
}
.task0, .task1,.note{
  display: inline;
margin: 5px;
padding: 0;
color: #393e46;
font-size: 80%;
font-weight: bold;
}
.task1 {
  background-color: yellow;
  border-radius: 5px;
}
.C0 {
  text-decoration: none;
}

.C1 {
  color:#52616b;
  text-decoration-line: line-through;
}

.cityName {
  display: none;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.city {
  margin: auto;
  max-width: 200px;
}

@media only screen and (max-width: 1000px) {

  .input1,.input2,.input4,.input3,.input5 {
    display:block;
    width: 90%;
    margin:3px ;
  }
  .button1 {
margin-bottom: 10px;
  }
  .sidebar,.today,.upcoming,.notes{
    height: 75%;
  }
}
@media only screen and (max-width: 750px) {
  .sidebar{
    width:100%;
    height: auto;
  }
  .btn{
    display: inline;
    width: fit-content;
    padding: 0 2px;
    margin: 5px;
    float: left;
  }
  .today,.upcoming,.notes  {
    width: 100%;
    min-height: 60%;
    height: auto;
  }
  .input1,.input2,.input4,.input3,.input5 {
    display:block;
    width: 90%;
    margin:3px ;
  }
  .button1 {
margin-bottom: 10px;
  }
}
